[includeIf "gitdir:~/GitDev/"]
	path=.gitconfig.work
[includeIf "gitdir:~/Git/"]
	path=.gitconfig.personal
[credential]
	helper = /usr/libexec/git-core/git-credential-libsecret
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
	editor = vim
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
	finda = "!grepalias() { git config --global --get-regexp alias | grep -i \"$1\" | awk -v nr=2 '{sub(/^alias\\./,\"\")};{printf \"\\033[31m%10s\\033[1;37m\", $1};{sep=FS};{for (x=nr; x<=NF; x++) {printf \"%s%s\", sep, $x; }; print \"\\033[0;39m\"}'; }; grepalias"
	type = cat-file -t
	dump = cat-file -p
	r = remote -v
	unstage = reset HEAD
	uncommit = reset --soft HEAD^
	last = log -1 HEAD
	filelog = log -u
	l = log --graph --date=short
	changes = log --oneline --reverse
	files = log --pretty=format:'%h %cr %cn %Cgreen%s%Creset' --name-status
	h = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	short = log --pretty=format:'%h %cr %cn %Cgreen%s%Creset'
	bullets = log --pretty=format:'* %s'
	lg = log --graph --decorate --oneline
[merge]
	tool = kdiff3
[diff]
	guitool = kdiff3
