$include /etc/inputrc

"\e[5~": history-search-backward
"\e[6~": history-search-forward

set editing-mode vi
set keymap vi

# match search with arrow up
# "\e[A": history-search-backward
# match search with arrow down
# "\e[B": history-search-forward

# ALT-z -> execute 'cd -' -- Doesn't work.
# "\ez": `cd -\015`

# ALT-i: scroll back in history
k: history-search-backward
# ALT-j: scroll forward in history
j: history-search-forward

set blink-matching-paren on
# set show-all-if-ambiguous on
set completion-ignore-case on

# Adds (cmd)/(ins) tag to prompt.
# set show-mode-in-prompt on
