$include /etc/inputrc

# ALT-z -> execute 'cd -'
"\ez": 'cd -\015'
# ALT-l: move forward by word
"\el": forward-word
# ALT-h: move back by word
"\eh": backward-word

# ALT-i: scroll back in history
"\ei": history-search-backward
# ALT-j: scroll forward in history
"\ej": history-search-forward

set completion-ignore-case on
set editing-mode vi
set keymap vi
set blink-matching-paren on

